<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612768102849-g6jlbt0e7us7le4p0sokf87epjksegcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612768102849-g6jlbt0e7us7le4p0sokf87epjksegcg</string>
	<key>API_KEY</key>
	<string>AIzaSyBrPLwM3YwteLyH1ujaaNWj0eWsjJTrF40</string>
	<key>GCM_SENDER_ID</key>
	<string>612768102849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deomo.instagram.mark</string>
	<key>PROJECT_ID</key>
	<string>instagram-bc3cb</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-bc3cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612768102849:ios:b652e855b0a16964735740</string>
</dict>
</plist>